/**
 * Notify Widget SASS.
 */

#notify_widget {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
  float: left;
  height: 39px;
  margin: 35px 0 0 55px;
  position: relative;
  width: 39px;

  > a {
    &:active {
      outline: 2px solid yellow;
    }
    background-image: url(../images/bell.png);
    background-size: 39px 39px;
    background-position: top left;
    color: #ffffff;
    display: block;
    font-size: 0;
    height: 39px;
    padding-left: 39px;
    text-decoration: none;
    width: 0;
  }

  .unread {
    background-color: #ff0000;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 700;
    left: 25px;
    line-height: 18px;
    min-width: 19px;
    padding: 1px 6px 0 4px;
    position: absolute;
    text-align: center;
    top: -7px;
    z-index: 200;
  }

  #notify_widget_popup {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #f4f4f4;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.14), 0px 10px 10px -5px rgba(0, 0, 0, 0.08);
    color: #333333;
    display: flex;
    flex-direction: column;
    max-height: 550px;
    opacity: 0;
    padding: 24px 20px 8px 20px;
    position: relative;
    top: 5px;
    left: -541px;
    width: 580px;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    visibility: hidden;
    z-index: 201;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }

    h2 {
      color: #0a6fb4;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      margin: 0 0 16px 0;
    }

    .inner {
      align-items: flex-start;
      align-self: stretch;
      border: 0.5px solid #f4f4f4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      overflow: auto;
      padding: 3px;

      a {
        align-self: stretch;
        color: #333333;
        display: flex;
        text-decoration: none;

        .notification {
          border-radius: 2px;
          border: 0.5px solid #f4f4f4;
          background: #ffffff;
          padding: 16px;
          position: relative;
          width: 100%;

          .notification-type-icon {
            background-size: 24px 24px;
            display: block;
            height: 24px;
            position: absolute;
            left: 16px;
            top: 16px;
            width: 24px;

            &.add-type {
              background-image: url(../images/add.svg);
            }

            &.alert-type {
              background-image: url(../images/warning.svg);
            }

            &.read-type {
              background-image: url(../images/check.svg);
            }
          }

          .text_wrapper {
            color: #333333;
            font-style: normal;
            margin-left: 40px;

            p {
              margin-bottom: 2px;
              margin-top: 0;
            }

            .title {
              display: block;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.282px;
            }

            .text {
              display: block;
              font-size: 18px;
              font-weight: 325;
              line-height: 28px;
              letter-spacing: 0.2px;
            }

            .time {
              color: #3371ff;
              display: block;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
    }

    a {
      &.view-all-notifications {
        color: #333333;
        margin-top: 16px;
        text-align: right;
        text-decoration: none;
      }
    }
  }
}
