{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Variable available:
 *   - notifications: The notifications to display.
 *   - unread_count: The number of unread notifications.
 *   - uid: The UID of the currently logged in user.
 *   - new_to_notifications: Whether the use rhas seen the notifications
 *       popup before or not.
 */
#}

{% set classes = [
  'notify-widget',
] %}

<div id="notify_widget" {{ attributes.addClass(classes) }}>
  <a id="notify_toggle" href="#" title="Notifications">Notifications</a>
  {% if unread_count %}
    <span class="unread">{{ unread_count|trans }}</span>
  {% endif %}
  <div id="notify_widget_popup">
    <h2>Notifications</h2>
    {% if notifications is not empty %}
      <div class="inner">
        {% for notification in notifications %}
          {%  if notification.link is not null %}
            <a href="/notification/{{ notification.id }}/view?destination={{ notification.link }}">
              <div class="notification">
                {% if notification.read > 0 %}
                  <span class="notification-type-icon read-type"></span>
                {% else %}
                  <span class="notification-type-icon {{ notification.notification_type }}-type"></span>
                {% endif %}
                <div class="text_wrapper">
                  <span class="title">{{ notification.notification_title }}</span>
                  <span class="text">{{ notification.notification_text }}</span>
                  <span class="time">{{ notification.timestamp }}</span>
                </div>
              </div>
            </a>
          {% else %}
            <div class="notification">
              {% if notification.read > 0 %}
                <span class="notification-type-icon read-type"></span>
              {% else %}
                <span class="notification-type-icon {{ notification.notification_type }}-type"></span>
              {% endif %}
              <div class="text_wrapper">
                <span class="title">{{ notification.notification_title }}</span>
                <span class="text">{{ notification.notification_text }}</span>
                <span class="time">{{ notification.timestamp }}</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      {% if new_to_notifications %}
        <div class="notification new_to_notifications">
          <div class="text_wrapper">
            <span class="text">{{ 'Your notifications live here'|trans }}</span>
            <p>{{ 'You&apos;ll find alerts and notifications here when there are things you need to action'|trans }}.</p>
          </div>
        </div>
      {% else %}
        <div class="notification">
          <div class="text_wrapper">
            <span class="text">You have no new notifications.</span>
          </div>
        </div>
      {% endif %}
    {% endif %}
    <a href="/user/{{ uid }}/notifications" class="view-all-notifications">{{ 'View all notifications'|trans }}</a>
  </div>
</div>
